<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <div class="inner-body-error">
        <img src="./images/404.jfif" alt="Page not Found" width="60%" height="50%" />
        <a href="/" class="aBtn">Go Back</a>
    </div>
</body>

</html>