<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>

    {{>navbar}}
    <div class="inner-body">
        <div class="main-left-about">
            <div class="aimg">
                <img src="./images/profile.jfif" alt="profile-img" height="300px"/>
            </div>
        </div>
        <div class="main-right-about">
            <p class="ahead">Welcome to weather app</p>
            <p class="amiddle">I am a Front end Developer</p>
            <Button class="aBtn">About Me</Button>
        </div>
    </div>

     {{>footer}}

</body>

</html>